*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(rgb(82, 179, 235) ,white);
}
.pppp{
    background-image: url(photo/Social\ Media\ Hospital\ -\ Dayvison\ Silva.jpeg);
    background-size: contain;
    text-decoration: none;
    color: aliceblue;
    font-family: fantasy;
    font-style: italic;
font-weight: 900;
    text-align: center;
    font-family: sans-serif;
    background-color:rgb(82, 179, 235);
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 10px 10px 30px 10px rgb(247, 243, 243) , 10px 10px 30px 10px rgb(82, 179, 235);  
}
.contaner{
max-width: 700px;
width: 100%;
background: white;
padding: 25px 30px;
border-radius: 5px;
}
.contaner .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.contaner .title::before{
    color: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30p;
    background: rgb(82, 179, 235);
}

.contaner form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin: 20px 0 12px 0;
    margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .detalis{
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    display: block;
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(82, 179, 235);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus:valid{
border-color: rgb(82, 179, 235);
}

form .buttom{
    height: 45px;
    margin: 45px 0;
}

form .buttom input{
    text-decoration: none;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    color: rgb(0, 2, 5);
    letter-spacing: 1px;
    background: linear-gradient(rgb(82, 179, 235) ,white);
}

form .buttom input:hover{
    background: rgb(77, 94, 97);
}
